@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.header {
    width: 100%;
    background-color: #4a4a4a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2; 
}

.header-container {
    display: flex;
    align-items: center;
}

.header .logo img {
    height: 70px;
}

.navbar {
    position: fixed;
    width: 100vw;
    top: 0;
}

.content {
    flex-grow: 1;
    margin-left: 0;
    transition: margin-left 0.3s ease;
    padding: 2rem;
}

.section {
    margin-top: 2rem;
}

.button.is-info {
    margin-bottom: 1rem;
    position: relative;
    z-index: 3; 
    color: #fff;
    background-color: #66D1FF;
}
.button.is-info:hover {
    background-color: #58bbe6;
}

a {
    text-decoration: none;
    i {
      color: #000;
    
    }
  }