@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  height: 100vh;
  background: linear-gradient(
    135deg, 
    rgb(255, 255, 255),  /* Cor branca */
    hsla(217, 71%, 53%, 0.233), /* Cor azul clara com transparência */
    #38d8ff, /* Cor azul */
    #000 /* Cor preta */
  );
}

a {
  text-decoration: none;
  i {
    color: #000;
  
  }
}


.proximo {
  position: relative;
  padding: 1vh;
}

.proximo:hover {
  cursor: pointer;
}

.proximo::after {
  display: block;
  position: absolute;
  background: linear-gradient(
    to left,
    hsla(217, 71%, 53%, 0.233),
    rgba(255, 255, 255, 0)
  );
  opacity: 0;
  display: flex;
  justify-content: end;
  content: ">";
  width: 120%;
  padding: 1vh;
  transform: translate(10%);
  border-radius: 0 1vw 1vw 0;
  top: 0;
  left: -20%;
  transition: all 0.5s ease;
}

.proximo:hover::after {
  opacity: 1;
  transform: translate(30%);
}

.anterior {
  position: relative;
  padding: 1vh;
}

.anterior:hover {
  cursor: pointer;
}

.anterior::after {
  display: block;
  position: absolute;
  background: linear-gradient(
    to right,
    hsla(217, 71%, 53%, 0.233),
    rgba(255, 255, 255, 0)
  );
  opacity: 0;
  display: flex;
  justify-content: start;
  content: "<";
  width: 120%;
  padding: 1vh;
  transform: translate(-10%);
  border-radius: 1vw 0 0 1vw;
  top: 0;
  right: -20%;
  transition: all 0.5s ease;
}

.anterior:hover::after {
  opacity: 1;
  transform: translate(-30%);
}

pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid hsl(204, 86%, 53%);
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 1.5vh;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

/* footer {
  height: 30vh;
  bottom: 0;
} */

pre span {
  display: block;
  line-height: 0rem;
  counter-increment: line;
}

pre span:before {
  content: counter(line);
  display: inline-block;
  border-right: 1px solid #ddd;
  padding: 0 .5em;
  margin-right: .5em;
  color: #888
}

/* .sidebar {
  width: 250px;
  background-color: #4a4a4a;
  color: white;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  transition: left 0.3s ease;
  padding-top: 6rem; 
  z-index: 1; 
}  

.sidebar-menu {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.sidebar-item {
  padding: 1rem;
  padding-bottom: 0.5rem;
  
  text-decoration: none;
  color: white;
  display: block;
}

.sidebar-subitem {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 2.5rem;
  text-decoration: none;
  color: white;
  display: block;
}

.sidebar-item:hover {
  background-color: #363636;
}
.sidebar-subitem:hover {
  background-color: #363636;
} */

.content {
  flex-grow: 1;
  margin-left: 0;
  transition: margin-left 0.3s ease;
  padding: 2rem;
  padding-top: 5rem;
} 

.button.is-info,
.button.is-info:hover {
    margin-bottom: 1rem;
    position: relative;
    z-index: 3;
    color: #fff;
    background-color: #66D1FF !important; 
}

.incercao{
  margin-left: 300px;
}



